[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
httpx = "*"
fastapi = {extras = ["all"], version = "*"}
starlette = "*"
coverage = "*"
prometheus-fastapi-instrumentator = "*"

[dev-packages]

[requires]
python_version = "3.13"
