[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
fastapi = {extras = ["standard"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
sqlalchemy = "*"
bcrypt = "==4.3.0"
jinja2 = "*"
numpy = "*"
confluent-kafka = "*"
uvicorn = "*"
python-dotenv = "*"
opensearch-dsl = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.7"
