<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>

<div class="container mt-4">

    <h1>New expense</h1>

    <form action="#" th:action="@{/submitExpense}"
    th:object="${expenseRequest}" method="POST">

        <div>
            <label for="note">Note:</label>
            <input type="text" id="note" th:field="*{note}" />
            <span th:if="${#fields.hasErrors('note')}" th:errors="*{note}" style="color: red;"></span>
        </div>

        <div>
            <label for="cost">Cost (€):</label>
            <input type="number" id="cost" th:field="*{cost}" min="1" required />
            <span th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}" style="color: red;"></span>
        </div>

        <div>
            <label for="expenseDate">Date of the cost:</label>
            <input type="date" id="expenseDate" th:field="*{expenseDate}" required />
            <span th:if="${#fields.hasErrors('expenseDate')}" th:errors="*{expenseDate}" style="color: red;"></span>
        </div>

        <div>
            <label for="frequencyId">frequency:</label>
            <select id="frequencyId" th:field="*{frequencyId}" required>
                <option value="">Izberite pogostost</option>
                <option th:each="freq : ${frequencies}"
                        th:value="${freq.id}"
                        th:text="${freq.description}">Mesečno</option>
            </select>
            <span th:if="${#fields.hasErrors('frequencyId')}" th:errors="*{frequencyId}" style="color: red;"></span>
        </div>

        <div>
            <label for="categoryId">Kategorija:</label>
            <select id="categoryId" th:field="*{categoryId}" required>
                <option value="">Izberite kategorijo</option>
                <option th:each="cat : ${categories}"
                        th:value="${cat.id}"
                        th:text="${cat.name}">Hrana</option>
            </select>
            <span th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}" style="color: red;"></span>
        </div>

        <div>
            <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
        </div>

    </form>

    <h1 class="mb-2">Expense list</h1>
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>Note</th>
            <th>Cost</th>
            <th>Total cost in a year</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="accessInfo: ${expenses}">
            <td>
                <div th:text="${{accessInfo.note()}}"></div>
            </td>
            <td>
                <div th:text="${{accessInfo.cost()}}"></div>
            </td>
            <td>
                <div th:text="${{accessInfo.totalCost()}}"></div>
            </td>

        </tr>
        </tbody>
    </table>

</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>