[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
coverage = "*"
msal = "*"
httpx = "*"
dotenv = "*"
pymongo = "*"
gpsphoto = "*"
exifread = "*"
pillow = "*"
piexif = "*"

[dev-packages]
pip-audit = "*"

[requires]
python_version = "3.13"
